html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    height: 95vh;
    width: 45vh;
}

a {
    text-decoration: none !important;
    cursor: pointer !important;
}

@media only screen and (max-width: 500px) {
    body {
        width: 100%;
        height: 100%;
    }
}

.reserve_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9rem 0 0 0;
    height: 100%;
}

.ten_min {
    box-sizing: border-box;
    font-family: 'Montserrat';
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #FF8181;
    opacity: 0.5;
    padding: 0 0 0 2rem;
}

.main_title {
    box-sizing: border-box;
    font-family: 'Montserrat';
    text-align: left;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    color: #000000;
    margin: 0 0 4rem 0;
    padding: 0 0 0 2rem;
}
.kakao_btn {
    /* background-image: url(/static/img/reservation/kakao_login_large.svg); */
    background: url(/static/img/reservation/kakao_login_large.png) no-repeat;
    background-size: 16rem;
    width: 16rem;
    height: 4.1rem;
    border: none;
}

.kakao_btn:hover {
    opacity: 0.8; /* 버튼을 80% 불투명하게 처리 */
    cursor: pointer;
}

.kakao_warning{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 0.7rem;
    /* line-height: 48px; */
    margin: 0.5rem 0 0 0;
    color: #FF3232;
    opacity: 0.5;
}

.find_out_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 5rem 0 0 0;
}

.booth_find {
    width: 5.5rem;
    height: 4rem;
    padding: 2rem 1rem;
    background: rgba(255, 50, 50, 0.63);
    border-radius: 0.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: #FFFFFF;
}

.booth_find:hover {
    opacity: 0.8; /* 버튼을 80% 불투명하게 처리 */
    cursor: pointer;
}


.reservation_find{
    width: 5.5rem;
    height: 4rem;
    padding: 2rem 1rem;
    background: rgba(255, 50, 50, 0.63);
    border-radius: 0.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: #FFFFFF;
    margin: 1.5rem 0;
}

.reservation_find:hover {
    opacity: 0.8; /* 버튼을 80% 불투명하게 처리 */
    cursor: pointer;
}

/* 로그인 완료 후 */







.login_container {
    background: #2F2F2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.title_logout {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

.title_name {
    width: 213px;
    height: 50px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    color: #FFFFFF;
}

.logout_btn {
    box-sizing: border-box;
    padding: 0.5rem 0 0 0;
    margin: 0.2rem 0 0 0;
    width: 97px;
    height: 35px;
    border: 3px solid #C0C0C0;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #DBDBDB;
}

.message_box {
    display: flex;
    padding: 1rem;
    text-align: left;
    position: relative;
    width: 290px;
    background: #F5F5F5;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FF8181;
}

.voice_emoji{
    margin: 0 1rem 0 0;
}

.grid_box{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1.9rem;
    margin: 1.5rem 0 0 0;
}

.my_info_link{
    display: flex;
    align-items: center;
    padding: 0 0.2rem 0 1rem;
    gap: 1.3rem;
    width: 125px;
    height: 90px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    background: #FF8181;
    border-radius: 8px;
}

.booth_find_small{
    display: flex;
    align-items: center;
    padding: 0 0.2rem 0 1rem;
    gap: 1.3rem;
    width: 125px;
    height: 90px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    background: #393939;
    border-radius: 8px;
}

.yellow_tri{
    border-bottom: 15px solid #FFEE58;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-radius: 4px;
    transform: matrix(0, -1, -1, 0, 0, 0);
}

.white_tri{
    border-bottom: 15px solid white;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-radius: 4px;
    transform: matrix(0, -1, -1, 0, 0, 0);
}

.my_reservation_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 15px 15px 15px;
    gap: 15px;
    width: 290px;
    background: #393939;
    border-radius: 8px;
    margin: 20px 0 0 0;
}

.my_reservation_title {
    width: 100%;
    height: 35px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    color: #FFFFFF;
}

.my_real_reservation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 15px 10px 15px;
    box-sizing: border-box;
    gap: 10px;
    width: 100%;
    height: 110px;
    background: #F5F5F5;
    border-radius: 8px;
}

.match_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.date_box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.mached_date{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #424242;
}

.now_match_wait {
    width: 111.11px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ED821F;
}

.now_match_fin {
    width: 100px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FF8181;
}

.now_match_clear{
    width: 100px;
    /* height: 100%; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #5DB075;
}

.money_info{
    display: flex;
    flex-direction: column;
}

.apply_cancel_btn{
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 110px;
    height: 35px;
    background: #DBDBDB;
    border-radius: 8px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #7B7B7B;

}