html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    height: 95vh;
    width: 45vh;
    /* border: 2px solid #000000; */
}

@media only screen and (max-width: 500px) {
    body {
        width: 100%;
        height: 100%;
    }
}

.reserve_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000000;
    padding: 9rem 0 0 0;
}

.ten_min {
    font-family: 'Montserrat';
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #FF8181;
    opacity: 0.5;
    padding: 0 0 0 4rem;
}

.main_title {
    font-family: 'Montserrat';
    text-align: left;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    color: #000000;
    margin: 0 0 4rem 0;
    padding: 0 0 0 4rem;
}
.kakao_btn {
    /* background-image: url(/static/img/reservation/kakao_login_large.svg); */
    background: url(/static/img/reservation/kakao_login_large.png) no-repeat;
    background-size: 16rem;
    width: 16rem;
    height: 4.1rem;
    border: none;
}

.kakao_btn:hover {
    opacity: 0.8; /* 버튼을 80% 불투명하게 처리 */
    cursor: pointer;
}

.kakao_warning{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 0.7rem;
    /* line-height: 48px; */
    margin: 0.5rem 0 0 0;
    color: #FF3232;
    opacity: 0.5;
}

.find_out_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 5rem 0 0 0;
}

.booth_find {
    width: 5.5rem;
    height: 4rem;
    padding: 2rem 1rem;
    background: rgba(255, 50, 50, 0.63);
    border-radius: 0.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: #FFFFFF;
}

.booth_find:hover {
    opacity: 0.8; /* 버튼을 80% 불투명하게 처리 */
    cursor: pointer;
}


.reservation_find{
    width: 5.5rem;
    height: 4rem;
    padding: 2rem 1rem;
    background: rgba(255, 50, 50, 0.63);
    border-radius: 0.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: #FFFFFF;
    margin: 1.5rem 0;
}

.reservation_find:hover {
    opacity: 0.8; /* 버튼을 80% 불투명하게 처리 */
    cursor: pointer;
}




