{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="date=no, time=no">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reservation.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reserve_page.css' %}" />
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
    <link rel="shortcut icon" href="/static/img/reservation/smile.svg">
    <title>암흑 속 미팅</title>
  </head>
  <body>
    {%block content%}{%endblock content%}
  </body>
</html>