{% extends 'base.html'%} {%block content%}
{% load socialaccount %}
{% load static %}
<!-- 여기서 부터 넣으면 됨 -->
<div class="detail_container">
  <a class="back_container2" href="{% url 'blind:reservation'%}">
    <div class="back_mark2"></div>
    홈
  </a>
  <div class="first_info"></div>
  <div class="second_info"></div>

  <div class="apply_box2">
    <div class="date_box2">
      {% if time_box.day == 1 %}
      <span class="mached_date2">5/9 (화)</span>
      {% endif %}
      {% if time_box.day == 2 %}
      <span class="mached_date2">5/10 (수)</span>
      {% endif %}
      {% if time_box.day == 3 %}
      <span class="mached_date2">5/11 (목)</span>
      {% endif %}
      <span class="mached_date2">{{time_box.timeSlot}}:{{time_box.timeMin}} ~ {{time_box.timeSlot}}:{{time_box.timeMin|add:10}}</span>
    </div>
  
    {% if gender == 1 %}
      {% if time_box.man %}
      {% else %}
        <form action="/detail/{{time_box.id}}/1" method="post">
          {% csrf_token %}

          <button type="submit" value="1" class="btn_man2" name="apply_gender">
            매칭 신청하기
            <div class="after_click">클릭 후 5초정도 기다려 주세요</div>
          </button>

        </form>
      {% endif %}
    {% else %}
      {% if time_box.woman %}
      {% else %}
      <form action="/detail/{{time_box.id}}/2" method="post">
        {% csrf_token %}

        <button type="submit" value="2" class="btn_man2" name="apply_gender">
          매칭 신청하기
          <div class="after_click">클릭 후 5초정도 기다려 주세요</div>
        </button>

      </form>
      {% endif %}
    {% endif %}
  </div>

  

</div>



<!-- 여기까지-->
{% endblock content %}>