{% extends 'base.html'%} {%block content%}
{% load socialaccount %}
{% load mathfilters %}
{% load static %}
<!-- 여기서 부터 넣으면 됨 -->
<div class="reservation_page_container">
  <a class="back_container" href="{% url 'blind:reservation'%}">
    <div class="back_mark"></div>
    홈
    <div class="message_box2">
      {% if messages %}
        {% for message in messages %}
          {{ message.tag }}
          {{ message }}
        {% endfor %}
      {% else %}
        아이폰은 시간 버튼의 윗쪽 여백을 눌러주세요.(캘린더로 넘어갈 시)
      {% endif %}
    </div>
  </a>
  <form id="dayslotform" action="/reserve_page/1/12" method="post">
    {% csrf_token %}
    <div class="content-box">
      <fieldset id="group1" class="days_container">
        {% if menu_day == 1 %}
          <input type="radio" name="day" value="1" id="menu-day1" checked/>
          <label for="menu-day1" class="day_box_checked">
            <div class="days_day_checked">화</div>
            <div class="days_date_checked">5/9</div>
          </label>
        {% else %}
          <input type="radio" name="day" value="1" id="menu-day1" />
          <label for="menu-day1" class="day_box">
            <div class="days_day">화</div>
            <div class="days_date">5/9</div>
          </label>
        {% endif %}
        {% if menu_day == 2 %}
          <input type="radio" name="day" value="2" id="menu-day2" checked/>
          <label for="menu-day2" class="day_box_checked">
            <div class="days_day_checked">수</div>
            <div class="days_date_checked">5/10</div>
          </label>
        {% else %}
          <input type="radio" name="day" value="2" id="menu-day2" />
          <label for="menu-day2" class="day_box">
            <div class="days_day">수</div>
            <div class="days_date">5/10</div>
          </label>
        {% endif %}
        {% if menu_day == 3 %}
          <input type="radio" name="day" value="3" id="menu-day3" checked/>
          <label for="menu-day3" class="day_box_checked">
            <div class="days_day_checked">목</div>
            <div class="days_date_checked">5/11</div>
          </label>
        {% else %}
          <input type="radio" name="day" value="3" id="menu-day3" />
          <label for="menu-day3" class="day_box">
            <div class="days_day">목</div>
            <div class="days_date">5/11</div>
          </label>
        {% endif %}
      </fieldset>
      <div class="big-time-box">
        <fieldset id="left-time-box">
          {% csrf_token %}
          {% for time in times_7%}
            {% if menu_slot == time %}
            <input type="radio" name="timeSlot" value="{{time}}" id="menu-timeSlot{{time}}" checked/>
              <label for="menu-timeSlot{{time}}" class="menu_time_slot_checked">
                {{time}}시
              </label>
            {% else %}
            <input type="radio" name="timeSlot" value="{{time}}" id="menu-timeSlot{{time}}" />
            <label for="menu-timeSlot{{time}}" class="menu_time_slot">
              {{time}}시
            </label>
            {% endif %}
          {% endfor %}
        </fieldset>
        <div class="right-time-box">
          {% for timeBox in fillteredTimeBoxs%}
          <div class="box-timeBox">
            <div class="timebox-timeMin">{{timeBox.timeSlot}}:{{timeBox.timeMin}} ~ {{timeBox.timeSlot}}:{{timeBox.timeMin|add:10}}</div>
            <div class="box-gender">
              {% if timeBox.man %}
              <div class="btn_done">남자<br>마감</div>
              {% else %}
                <a class="btn_man" href="/detail/{{timeBox.id}}/1">
                남자<br>신청
                </a>
              {% endif %}
              {% if timeBox.woman %}
              <div class="btn_done">여자<br>마감</div>
              {% else %}
                <a class="btn_man" href="/detail/{{timeBox.id}}/2">
                  여자<br>신청
                </a>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </form>
</div>


<script>
  const dayslotform = document.getElementById("dayslotform");
  const radios = document.getElementsByName("day");
  const radios2 = document.getElementsByName("timeSlot");
  radios.forEach(radio => {
    radio.addEventListener("click", () => {
      dayslotform.submit(); // 라디오 버튼을 클릭할 때 폼을 자동으로 제출합니다.
    });
  });
  radios2.forEach(radio2 => {
    radio2.addEventListener("click", () => {
      dayslotform.submit(); // 라디오 버튼을 클릭할 때 폼을 자동으로 제출합니다.
    });
  });
</script>

<!-- 여기까지-->
{% endblock content %}>