{% extends 'base.html'%} {%block content%}
{% load socialaccount %}
{% load static %}
<!--  -->

{% if user.is_authenticated %}
  <div class="login_container">
    <div class="title_logout">
      <div class="title_name">🌝 암흑 속 미팅</div>
      <a class="logout_btn" href="{% url 'blind:log_out'%}">로그아웃</a>
    </div>
    <div class="message_box">
      <span class="voice_emoji">📢</span>
      {% if messages %}
        {% for message in messages %}
          {{ message.tag }}
          {{ message }}
        {% endfor %}
      {% else %}
        반가워요
      {% endif %}
    </div>
    <div class="grid_box">
      <a class="my_info_link" href="{% url 'blind:info_update'%}">나의<br>정보 입력
        <div class="yellow_tri"></div>
      </a>
      <div class="booth_find_small">부스 안내<div class="white_tri"></div></div>
      <div class="booth_find_small">예약 안내<div class="white_tri"></div></div>
      <a class="my_info_link" href="/reserve_page/1/12">예약<br>하러 가기
        <div class="yellow_tri"></div></a>
    </div>
    <div class="my_reservation_box">
      <div class="my_reservation_title">나의 예약</div>
      {% if time_boxs == 0 %}
        <div class="no_reservation">나의 예약이 없습니다.</div>
      {% else %}
        {% for time_box in time_boxs%}
        <div class="my_real_reservation">
          <!-- <div>나의{{ forloop.counter }}번째 예약</div> -->
          <div class="date_box">
            {% if time_box.day == 1 %}
            <span class="mached_date">5/9 (화)</span>
            {% endif %}
            {% if time_box.day == 2 %}
            <span class="mached_date">5/10 (수)</span>
            {% endif %}
            {% if time_box.day == 3 %}
            <span class="mached_date">5/11 (목)</span>
            {% endif %}
            <span class="mached_date">{{time_box.timeSlot}}:{{time_box.timeMin}} ~ {{time_box.timeSlot}}:{{time_box.timeMin|add:10}}</span>
          </div>

          <!-- 매칭 완료인 경우 -->
          <div class="match_info">
            {% if time_box.man %} 
              {% if time_box.woman %} <!-- 남 o, 여 o-->
                {% if time_box.manIn == True %}
                  {% if time_box.womanIn == True %}
                    <div class="now_match_clear">예약 확정 ✓</div>
                  {% else %}
                    <div class="now_match_fin">매칭 완료 !</div>
                  {% endif %}
                {% else %} 
                  <div class="now_match_fin">매칭 완료 !</div>
                {% endif %}
                <div class="money_info">
                  {% if person.gender == 1 %}
                    {% if time_box.manIn == False %} <!-- 남 입금 x-->
                      <div class="mached_date">본인 입금 확인중</div>
                    {% else %}
                      <div class="mached_date">본인 입금 확인됨</div>
                    {% endif %}

                    {% if time_box.womanIn == False %} <!-- 여 입금 x-->
                      <!-- <div class="you_money">상대방 입금 확인중</div> -->
                    {% else %}
                      <div class="mached_date">상대 입금 확인됨</div>
                    {% endif %}
                  {% else %}  <!-- 본인 여자 x-->
                    {% if time_box.womanIn == False %} 
                      <div>본인 입금 확인중</div>
                    {% else %}
                      <div>본인 입금 확인됨</div>
                    {% endif %}

                    {% if time_box.manIn == False %}
                      <!-- <div>상대방 입금 확인중</div> -->
                    {% else %}
                      <div>상대 입금 확인됨</div>
                    {% endif %}
                  {% endif %}
                </div>

              {% else %} <!-- 남 o, 여 x-->
                <div class="now_match_wait">매칭 대기중</div>

                <form action="/" method="post">
                  {% csrf_token %}
                  <button type="submit" value="{{time_box.id}}" class="apply_cancel_btn" name="cancel_time_box_id">
                    신청취소
                  </button>
                </form>
              {% endif %}
            {% else %} <!-- 남 x, 여 o-->
              {% if time_box.woman %} <!-- 남 x, 여 o-->
                <div class="now_match">매칭 대기중</div>
                <form action="/" method="post">
                  {% csrf_token %}
                  <a type="submit" value="{{time_box.id}}" class="" name="cancel_time_box_id">
                    신청 취소
                  </a>
                </form>
              {% endif %}
            {% endif %}
          </div>
        </div>
        {% endfor %}
      {% endif %}
      </div>
    </div>
  </div>
  
{% else %}
<div class="reserve_container">
  <div class="ten_min">10분 간의 잊지 못할</div>
  <div class="main_title">암흑 속<br>미팅. 🌝</div>
  <img src="" alt="">
  <form action="{% provider_login_url 'kakao' %}" method="post">
    {% csrf_token %}
    <button class="kakao_btn" type="submit" ></button>
  </form>
  <div class="kakao_warning">카카오 로그인을 통해 어떠한 정보도 수집하지 않습니다.</div>
  <div class="find_out_container">
    <div class="booth_find">부스<br>알아보기</div>
    <div class="reservation_find">예약<br>알아보기</div>
  </div>
</div>

{% endif %}

<!--  -->
{% endblock content %}>
